@@include('../include/_head.html', {
	"page": "/search"
})
	<link rel="stylesheet" href="//static.go.co.kr/css/renew/libs/ion.rangeSlider.css">
	<link rel="stylesheet" href="//static.go.co.kr/css/renew/libs/ion.rangeSlider.custom.css">
	<script src="//static.go.co.kr/js/renew/libs/jquery.lazyload.min.js"></script>
	<script src="//static.go.co.kr/js/renew/libs/ion.rangeSlider.min.js"></script>

</head>
<body>
    <h1 class="hidden">고코투어</h1>
    <div class="rn-gwrap">
        @@include('../include/_header.html')

        <!--백드롭, 달력 클릭시 뒤에 전체 배경-->
		<div id="backDrop"></div>
        @@include('../include/search/_filterBar.html')

        <div class="rnL-contents">
			<div class="rn-container">
                <div class="rnL-mfOuter clr">
                    <!--필터검색-->
    				@@include('../include/search/_filtering_search.html')

                    <div class="rnL-mOuter bsLs clr" id="rnL-mOuter"></div>
                </div>

				<!--검색결과 없을 경우-->
				<div class="rnL-listOuter bsLs">
					<div class="schNonBox">
						<img src="//img.go.co.kr/renew/pic_schNone.png" alt="검색결과가없습니다.">
						<p class="text">
							<span class="f-bd">“오샨 리조트”</span>에 대한 검색결과가 없습니다.<br>다시 검색해주세요.
						</p>
					</div>
				</div>
			</div>
		</div>

    </div>

</body>
</html>
