@charset "utf-8";
// --------------
// Scss변수
// --------------
// 폰트
//$font-stack: "NanumSquareRound", Dotum, Sans-serif;
//$font-nnSquareR: "NanumSquareRound", Dotum, Sans-serif;
$ft-stack: "Nanum Gothic", Dotum, Sans-serif;
$ft-nnSquare: "Nanum Square", Dotum, Sans-serif;
$ft-nnSquare2: "NanumSquare", Dotum, Sans-serif;
$ft-nnGothic: "Nanum Gothic", Dotum, Sans-serif;
$ft-ntss: "Noto Sans KR", Dotum, Sans-serif;
$ft-dt: Dotum, Sans-serif;

//$contents-minwth: 1695px;

// 색상
$primary-color: #333;

$co-orange: #ff6f00;
$co-orange-bright: #ff6600;
$co-blue: #3fa1ed;
$co-blue-bright: #00b4ff;