<div id="menu_bg2" style="display: none; position: absolute; z-index: 99999; top: 0px; right: 0px;">
	<div id="mypage">
		<div id="box" style="-webkit-overflow-scrolling: touch;overflow-y:scroll;background-image:none">
					<div class="my_top">
                <div class="my_close">
                    <a href="javascript:utils.rmenu_out('#menu_bg2');$('#bottomMenu').show();" data-ajax="false">
                        <img src="http://img.go.co.kr/mobile/my_close.png" width="26" alt="닫기">
                    </a>
                </div>
                <span>국내최대 할인숙박 예약</span><br>
                <a href="http://m.go.co.kr/home/member/?dd=RREnSjA=&amp;rurl=QQo0U2QJcU5uGUcHHS8NNVRxSy8TTQYTIUowCTNCKRB3WxsuRikILksw"><img src="http://img.go.co.kr/mobile/my_bt1.png" width="80" alt="로그인" height="28"></a>
            </div>
			<div class="my_middle0">
                <ul>
                    <li class="my_box_1">
                        <a href="#">
                            <span class="text_1" style="color:#dc2c2c;">-<br></span>
                            <span class="text_2">예약내역</span>
                        </a>
                    </li>
	                <li class="my_box_2">
						<a href="#">
						  <span class="text_1" style="color:#dc2c2c;">-<br></span>
						  <span class="text_2">찜목록</span>
						</a>
					</li> 
                    <li class="my_box_3">
                         <a href="#">
                           <span class="text_1" style="color:#dc2c2c;">-<br></span>
                            <span class="text_2">적립금</span>
                         </a>
                    </li> 
                    <li class="my_box_4">
                        <a href="#">
                            <span class="text_1" style="color:#dc2c2c;">-<br></span>
                            <span class="text_2">할인쿠폰</span>
                        </a>
                    </li>
                </ul>
            </div>

				
				<div class="my_middle type02">
			<ul>                                  
				<li class="my_box_4" onclick="location.href='http://m.go.co.kr/home/landing/?dd=TAglTSp5Kkw0H0Q='">
					<a href="#">
						<span class="text_3">고코투어 이벤트</span>
						<span class="c-1" style="padding-right:35px;">4개</span>
					</a>
				</li>
				<li class="my_box_5" onclick="location.href='http://m.go.co.kr/home/customer/?dd=RRczV2w=&amp;brd=RhAl'">
					 <a href="#">
						 <span class="text_3">1:1 문의하기<br></span>
					 </a>
				</li>                                         
				<li class="my_box_6" onclick="location.href='http://m.go.co.kr/home/customer/?dd=RRczV2w=&amp;brd=RhAl&amp;move=qna'">
					<a href="#">
						<span class="text_3">자주 묻는 질문<br></span>
					</a>
				</li>  
				<li class="my_box_5" onclick="location.href='http://m.go.co.kr/home/member/?dd=WxsjRjBSAUUhHUFF'">
					 <a href="#">
						 <span class="text_3">최근 본 시설<br></span>
					 </a>
				</li>       
				<li class="my_box_5" onclick="alert('로그인 후 이용가능합니다.');location.href='http://m.go.co.kr/home/member/?dd=RREnSjA=&amp;rurl2=aHR0cDovL20uZ28uY28ua3IvaG9tZS9sYW5kaW5nLz9kZD1Ud3dwUmpCQ0xRPT0='">
					<a href="#">친구에게 할인쿠폰 보내기 <img class="i_cp" src="http://img.go.co.kr/mobile/i_cp5000.png" alt="할인쿠폰" style="width: 60px;position: relative;float: right;padding-right:35px;"></a>
				</li>
			</ul>
		</div>
		
		<div class="my_bottom history01-list" id="right_order_layout" style="background-color:#f1f1f1"></div>
		<div class="my_bottom type02">
			<ul>
				<li style="width: 100%; border-bottom: 1px solid #ececec; box-sizing: border-box; display: block; padding:28px 0 28px 0; background-color:#f1f1f1;">
					<img src="http://img.go.co.kr/mobile/my_b_logo_4.png" width="100" alt="고코로고">
				</li>
			</ul>
		</div>
		</div>
	</div>
</div>

<header class="rn-header">
	<h1><a href="http://m.go.co.kr/home/main/"><img class="logo-img" src="http://img.go.co.kr/logo.png" alt="고코투어"><span class="blind">고코투어</span></a></h1>
</header>