<!-- 제휴사: partner 클래스 추가 -->
<header class="rn-header partner">
	<h1>
		<a href="http://m.go.co.kr/home/main/" class="logo">
			<img class="logo-img" src="http://img.go.co.kr/logo.png" alt="고코투어"><span class="blind">고코투어</span>
			<span class="partner-name">고코투어 온라인 지정예약처 <span class="fw-b">샤인투어</span></span>
		</a>
	</h1>
</header>