<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta charset="UTF-8">
<meta name="description" content="description">
<meta name="keywords" content="keywords">
<meta name="author" content="author">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>고코투어</title>

<meta property="og:locale" content="ko_KR">
<meta property="og:type" content="website">
<meta property="og:title" content="">
<meta property="og:image" content="">
<meta property="og:description" content="">
<meta property="og:url" content="">
<meta property="og:site_name" content="">
<meta name="twitter:title" content="">
<meta name="twitter:card" content="summary">
<meta name="twitter:image" content="">
<meta name="twitter:description" content="">
<!--<link rel="canonical" href="도메인">-->

<!--폰트-->	
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="//fonts.googleapis.com/earlyaccess/nanumgothic.css">
<link rel="stylesheet" href="//cdn.rawgit.com/hiun/NanumSquare/master/nanumsquare.css">

<!--공통 Css-->
<!--<link rel="stylesheet" href="//static.go.co.kr/css/moblie_reset.css" type="text/css" />-->
<link rel="stylesheet" href="/static/css/renew/m/reset.css">
<!--<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">-->
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<!-- <link rel="stylesheet" href="http://static.go.co.kr/css/swiper.min.css" type="text/css" /> -->

<!--개별 Css-->
<!--
<link rel="stylesheet" href="http://static.go.co.kr/css/renew/m/common.css">
<link rel="stylesheet" href="http://static.go.co.kr/css/renew/m/<%= initPage %>/init.css">
-->
<link rel="stylesheet" href="/static/css/renew/m/common.css">
<link rel="stylesheet" href="/static/css/renew/m/<%= initPage %>/init.css"> 

<!-- 모든사이트 통합 css -->
<link rel="stylesheet" href="http://static.go.co.kr/css/totalmobile.css" type="text/css" />

<script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/detectizr/1.5.0/detectizr.min.js"></script>
<script src="//code.jquery.com/jquery-1.12.4.js"></script>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
	Modernizr.Detectizr.detect();
</script>

<!--개별 Js-->
<!--
<script src="http://static.go.co.kr/js/renew/m/common.js"></script>
<script src="http://static.go.co.kr/js/renew/m/<%= initPage %>/init.js"></script> 
-->
<script src="/static/js/renew/m/common.js"></script>
<script src="/static/js/renew/m/<%= initPage %>/init.js"></script>

<!--[if lt IE 9]>
	<script type="text/javascript" src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<![endif]-->
