@charset "utf-8";

$screen-xxs-width: 320px;
$screen-sm-width: 768px;
$screen-md-width: 992px;
$screen-lg-width: 1017px;
$screen-width: 768px;

// 폰트
$font-stack: ("NanumSquare", Dotum, Sans-serif);
$font-nnSquare: ("Nanum Square", Dotum, Sans-serif);
$font-nnSquare2: ("NanumSquare", Dotum, Sans-serif);
$font-nnGothic: ("Nanum Gothic", Dotum, Sans-serif);
$font-ntss: ("Noto Sans KR", Dotum, Sans-serif);
$font-dt: (Dotum, Sans-serif);

$font-color: #333;
//$contents-minwth: 1695px;

// 색상
// $primary-color: #333;

$co-orange: #ff6f00;
$co-orange-bright: #ff6600;
$co-blue: #3fa1ed;
$co-blue-bright: #00b4ff;