@@include('../include/_head.html', {
	"page": "/mypage"
})

</head>
<body>
    <h1 class="hidden">고코투어</h1>
    <div class="rn-gwrap">
        @@include('../include/_header.html')

        <!--백드롭, 달력 클릭시 뒤에 전체 배경-->
		<div id="backDrop"></div>

        <!--전체 콘텐츠 영역-->
		<div class="rn-contents">
            <div class="rn-container rn-container02">
                <!-- 좌측 네비게이션 -->
                @@include('../include/mypage/_lab.html')

                <div class="main main-member bsLs">
                    <section class="sec-cmm cf sec-member">
                        <h2>회원정보관리 <span class="sm">개인정보 보호를 위해 비밀번호를 다시 한번 확인합니다.</span></h2>

                        <table class="tb-member">
                            <colgroup>
                                <col class="nth-1">
                                <col class="nth-2">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th>아이디</th>
                                    <td><span class="f-bd">devtest1</span></td>
                                </tr>
                                <tr>
                                    <th>비밀번호</th>
                                    <td>
                                        <input type="password" class="pwd reset">
                                        <!-- 일치하지 않았을 때 등장 -->
                                        <!-- <span class="c-red">비밀번호가 일치하지 않습니다. 다시 입력해 주세요.</span> -->
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <p class="addTxt"><span class="thColor1">*</span> 회원님의 비밀번호가 타인에게 노출되지 않도록 주의해 주시기 바랍니다.</p>

                        <div class="row-btn">
                            <a href="" class="a-1">확인</a><a href="" class="a-2">취소</a>
                        </div>
                    </section>
                </div>
                <!-- main end -->

            </div>
        </div>

        @@include('../include/components/laypop/_inquiry1on1.html')
        @@include('../include/components/laypop/_cancle.html')
        @@include('../include/_footer.html')
    </div>
</body>
