@charset "utf-8";
@font-face {
 font-family: "NanumSquare"; src:local("NanumSquare");
 font-style: normal;
 src: local("NanumSquareRegular"), /* computer */
   url("../../../fonts/NanumSquare/NanumSquareR.eot"), /* IE9 Compat Modes */
   url("../../../fonts/NanumSquare/NanumSquareR.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
   /*url("../../../fonts/NanumSquare/NanumSquareRegular.woff2") format("woff2"),  Modern Browsers */
   url("../../../fonts/NanumSquare/NanumSquareRegular.woff") format("woff"), /* Modern Browsers */
   url("../../../fonts/NanumSquare/NanumSquareR.ttf") format("truetype"); /* Safari, Android, iOS */
}

/* css 초기화 */
html{height: 100%;}
body {background:#fff;}
body,div,p,dl,dd,dt,footer,ol,ul,li,select,input,textarea{margin:0; padding:0; font-family:'NanumSquare',dotum,sans-serif; font-size:14px; color:#000;}
a {text-decoration:none; color:#333;}
a:focus {outline:none;}
li{list-style:none;}
table{border-collapse:collapse; table-layout: fixed; width: 100%;}
h1, h2, h3, h4, h5, h6{margin: 0; color: #333; line-height: 160%; font-weight: 400}
img{vertical-align: middle;}
input, textarea, select {appearance: none; -webkit-appearance: none;}
input:focus,
select:focus,
textarea:focus{outline: none;}

.pd20{padding:20px;}
.pr20{padding-right:20px}
.pt50{padding-top:50px;}
.pt20{padding-top:20px;}
.mt20{margin-top:20px;}
.mt40{margin-top:40px;}
.text_center{text-align:center;}
.btn_main{background:#FF480A; color:#fff; display:inline-block; text-align:center; border-radius:5px;}
.flat_r{float:right;}
.flat_l{float:left;}
input{border:1px solid #ddd; border-radius:5px;}
/* 헤더 */
header{height:50px; background-color:#fff; width:100%;position:fixed; top:0; left:0; transition:all 500ms;z-index:10; border-bottom:1px solid #eee; overflow: hidden;}
header .back_btn{display:inline-block; line-height:50px; float:left; padding:0 20px;}
header .back_btn img{width:17px;}
header .close_btn{display:inline-block; line-height:50px; float:left; padding:0 20px;}
header .close_btn img{width:15px;}
header h2{line-height:48px; color:#000; font-weight:700; float:left;}
header .head_right{float: right; line-height:50px; padding-right: 20px;}
header .head_right a img{width:18px;}

/* faq */
.slide_tab{margin-top:48px;}
.faq_gnb{height:46px;padding-left:20px; border-bottom:1px solid #eee;}
.faq_gnb li{float:left; font-weight:700; line-height:46px; margin-right:30px; width:auto;}
.faq_gnb li a{font-size:14px; font-weight:700; color:#000;}
.faq_gnb li.active{border-bottom:2px solid #FF480A}
.faq_gnb li.active a{color:#FF480A}
.accordion li{overflow:hidden; border-bottom:1px solid #eee; padding-left:20px}
.accordion li p{color:#333; padding:15px 0; font-size:16px; line-height: 24px;}
.accordion .panel{display:none; background:#FBFBFB; padding:0 20px;}
.accordion .panel p{color:#666; font-size:14px;}
/* qna*/
.container{margin-top:50px;}
.question_none p{font-size:16px; color:#666; margin-top:200px;}
.qna_list li{padding:20px 10px 20px 20px; position:relative; border-bottom:1px solid #F6F6F6; height:40px;}
.qna_list li img{width:18px; float:right; margin-top:15px;}
.qna_list li .mod_btn{width:80px; height:40px; text-align:center; display:block; border:1px solid #707070; line-height:40px; position:absolute; bottom:-15px; right:10px; z-index:5; background:#fff; display:none; color:#666;}
.state_box{float:left; width:50px; margin-right:10px;}
.state_box .waiting{border:1px solid #49D0D5; text-align:center; color:#49D0D5; border-radius:3px; font-size:11px; width:40px; height:23px; line-height:23px; font-weight:700;}
.state_box .complete{text-align:center; color:#fff; border-radius:3px; font-size:11px; background:#999; width:40px; height:23px; line-height:23px; font-weight:700;}
.title_box{float:left; width:calc(100% - 80px);}
.title_box p{font-size:16px; color:#000; overflow:hidden; text-overflow: ellipsis; white-space: nowrap}
.title_box span{font-size:12px; color:#666; display: block; margin-top:7px;}
.question_btn{width:calc(100% - 20px); height:55px; line-height:55px; position:fixed;bottom:10px; right:10px; left:10px;}
/* qna 상세*/
.question_bg{background:#FBFBFB;}
.question {padding: 20px;}
.question>span{float:left; display:block; color:#FF480A; background:#fff; border:1px solid #FF480A; border-radius:30px; width:30px; height:30px; text-align:center; line-height:30px; font-size:20px;}
.question_contents{margin-left:50px;}
.question_contents>span{font-size:14px; color:#666; margin-bottom:20px; display:inline-block;}
.question_contents>p{font-size:14px; color:#666; margin-bottom:10px; line-height:20px;}
.question>.answer{width:30px; height:30px; display:block; background:#FF480A; color:#fff;}
.question_contents>.answer_text{color:#000; font-size:14px; line-height:20px;}
/* qna 문의하기*/
.qna_reg{overflow:hidden;}
.qna_reg select{width:100%; height:46px; border:1px solid #ddd; border-radius:5px; padding-left:15px; margin-bottom:20px; background: #fff url('../images/select_arrow.png') no-repeat calc(100% - 19px) center; background-size:10px;}
.reg_write{overflow:hidden; margin-bottom:10px;}
.reg_write span{display:inline-block; width:80px; font-size:13px; color:#000; font-weight:700;}
.reg_write input{height:46px; width:calc(100% - 102px); padding-left:15px;}
.reg_write input::placeholder{font-size:14px; color:#000;}
.qna_reg textarea{height:200px; border:1px solid #ddd; border-radius:5px; box-sizing:border-box; width:100%; margin-top:10px; padding:15px 0 0 15px;}
.qna_reg textarea::placeholder{font-size:14px; color:#999;}
.reg_btn a{width:50%; height:46px; display:inline-block; text-align:center; line-height:46px; font-weight:700;}
.cancel_btn{background:#fff; border:1px solid #ddd; border-radius:5px;}
.reg_btn .cancel_btn{width:calc(50% - 7px);}
/* 이벤트 리스트 */
.event_gnb{overflow:hidden; position:fixed; z-index:12; background: #fff; left:0; top:50px; width:100%;}
.event_gnb li{float:left; width:50%; text-align:center; height:45px; line-height:45px; font-size:16px; font-weight:700; border-bottom:1px solid #eee;}
.event_gnb li a{color:#666;}
.event_gnb li.active{color:#FF480A; border-bottom:2px solid #FF480A;}
.event_gnb li.active a{color:#FF480A}
.event_list li a{position:relative; display:block;}
.event_list li img{width:100%; border-radius:10px; height:100px;}
.event_list li span{font-size:14px; color:#000; display:block; margin:15px 0 20px;}
.event_list li .end_text{color:#999;}
.bg_black{background:rgba(0,0,0,0.6); position:absolute; z-index:10; top:0;left:0; height:100px; width:100%; color:#fff; line-height:100px; font-weight:700; font-size:16px; border-radius:10px}
/* 이벤트 상세 */
.event_contents{overflow:hidden; background:#fff;}
.event_contents img{width:100%;}
.event_contents span{display:block; font-weight:700; font-size:14px; color:#000; margin:22px 0 10px;}
.event_comment{overflow:hidden; background:#F6F6F6; padding:26px 20px 0; margin-bottom: 50px;}
.comment_list{overflow:hidden; margin-bottom:30px;}
.comment_list span:nth-of-type(1){font-size:12px; font-weight:700; color:#000; display:block;}
.comment_list span:nth-of-type(2){font-size:11px; font-weight:normal; color:#999; display:block;}
.comment_list p{font-size:14px; font-weight:normal; color:#000; margin:5px 0; line-height:20px;}
.comment_input{width:100%; height:56px; position:fixed; bottom:0; left:0; border-top:1px solid #E6E6E6; background:#fff;}
.comment_input input{width:calc(100% - 70px); border:none; height:56px; padding-left:15px}
.comment_input input::placeholder{color:#ddd; font-size:14px;}
.comment_input a{width:30px; height:56px; line-height:56px; display:inline-block;}
.comment_input a img{width:30px;}
/* 당첨 리스트,상세*/
.prize_list li{border-bottom:1px solid #eee; padding:20px;}
.prize_list li a{display: block;}
.prize_list li p{font-size:16px; color:#000}
.prize_list li span{display:inline-block; font-size:12px; color:#999;}
.prize_title{border-bottom:1px solid #eee;}
.prize_title h3{font-size:18px; font-weight:700; color:#000;}
.prize_title span{display:inline-block; font-size:12px; color:#999;}
.prize_contents p{margin-bottom:35px; line-height:2; font-size:14px; color:#000;}
.prize_contents p strong{font-size:18px; font-weight:700;}
/* 기획전 리스트 */
.plan_list{overflow:hidden; margin-bottom:50px;}
.plan_list li{width:100%; height:150px; border-bottom:1px solid #fff;}
.plan_list li a{position:relative; display:block; width:100%; height:150px;}
.plan_list li img{width:100%; height:150px;}
.plan_list li .plan_box{background:rgba(0,0,0,0.4); position:absolute; z-index:5; top:0;left:0;width:100%; padding-left:20px; height:100%;}
.plan_list li .plan_box span{display: block; margin:37px 0 15px; width:56px; height:20px; background:#fff; color:#FF480A; text-align:center; line-height:20px; font-size:11px; font-weight:700;}
.plan_list li .plan_box p:nth-of-type(1){font-size:20px; font-weight:700; color:#fff; margin-bottom:5px; overflow:hidden; text-overflow: ellipsis; white-space: nowrap; width:300px}
.plan_list li .plan_box p:nth-of-type(2){font-size:14px; font-weight:normal; color:#fff;}
/* 기획전 상세 */
.plan_contents{height:240px; position: relative; overflow: hidden;}
.plan_contents .img_dev{position:absolute;top:0;left:0;right:0;bottom:0;-webkit-transform:translate(50%,50%);-ms-transform: translate(50%,50%);transform: translate(50%,50%);}
.plan_contents img{top:0;left:0;position:absolute; min-width:100%; max-height:100%;-webkit-transform: translate(-50%,-50%);-ms-transform: translate(-50%,-50%);transform: translate(-50%,-50%);}
.plan_contents_bg{background:linear-gradient(to bottom,rgba(0,0,0,0),rgba(0,0,0,0.7)); position:absolute; left:0; top:0; z-index:5; width:100%; height:100%;}
.plan_text{position:absolute; left:20px; bottom:20px;}
.plan_text span{display: block; margin:37px 0 15px; width:57px; height:20px; background:#fff; color:#FF480A; text-align:center; line-height:20px; font-size:11px; font-weight:700;}
.plan_text P:nth-of-type(1){font-size:20px; font-weight:700; color:#fff; margin-bottom:5px; overflow:hidden; text-overflow: ellipsis; white-space: nowrap; width:300px}
.plan_text P:nth-of-type(2){font-size:14px; font-weight:normal; color:#fff;}
section{overflow:hidden; border-bottom:1px solid #ddd;}
.room_img{float:left; margin-right:13px; width:140px; height:210px; border-radius:10px; position:relative;}
.room_img div{position:absolute;top:0;left:0;right:0;bottom:0;-webkit-transform:translate(50%,50%);-ms-transform: translate(50%,50%);transform: translate(50%,50%);}
.room_img img{top:0;left:0;position:absolute; max-width:100%; min-height:100%;-webkit-transform: translate(-50%,-50%);-ms-transform: translate(-50%,-50%);transform: translate(-50%,-50%); border-radius:10px;}
.room_price{float:left; width:calc(100% - 153px);}
.price_title{font-size:18px; color:#000;font-weight:700; line-height:22px;}
.txt_location{margin-right:10px; font-size:12px; color:#999; line-height:18px; display: block; margin-top: 10px;}
.txt_location img{width:10px;}
.price{position:relative; margin-top: 20px;}
.price_text_wrap{left:0; bottom:0; width:100%;}
.price_text_box{overflow:hidden; width:100%;}
.price_text_left{text-align:left; float:left;}
.price_text_left p{font-size:12px; color:#000;}
.price_text_left span{display:inline-block; font-size:12px; color:#999;}
.price_text_rigth{text-align:right;}
.price_text_rigth span:nth-of-type(1){display:inline-block; font-size:12px; color:#FF480A; margin-right:10px;}
.price_text_rigth span:nth-of-type(2){display:inline-block; font-size:12px; color:#999; text-decoration:line-through;}
.price_text_rigth p{font-size:18px; color:#000; font-weight:800;}
/* 공지사항 리스트 상세*/
.notice_list{overflow:hidden;}
.notice_list li{padding:15px 20px 15px; border-bottom:1px solid #F6F6F6}
.notice_list li p:nth-of-type(1){font-size:16px; color:#333; font-weight:normal;}
.notice_list li p:nth-of-type(2){font-size:12px; color:#666; margin-top: 5px;}
.notice_list li.active p:nth-of-type(1){color:#000; font-weight:700;}
.notice_list li a{display: block;}
.new_text{display:inline-block; width:30px; height:15px; background:#FF480A; border-radius:3px; font-size:10px; font-weight:700; text-align:center; line-height:15px; color:#fff;vertical-align:top; margin-top:5px; margin-left:5px;}
.notice_title{border-bottom:1px solid #ddd;}
.notice_title h3{font-weight:normal; font-size:16px; color:#000; margin-bottom:10px}
.notice_title p{font-size:12px; color:#666;}
.notice_contents{font-size:14px; color:#333; line-height: 18px;}

.info_list{overflow:hidden;}
.info_list li{ border-bottom:1px solid #F6F6F6}
.info_list li a{padding:15px 20px 15px; font-size: 16px; display: block;}
.info_list li span{float: right; color:#666; font-size: 14px;}
.info_list li span img{width:8px;}

/* 회원혜택 리스트 */
.member_list{overflow:hidden;}
.member_list li{padding:25px 20px; border-bottom:1px solid #eee;}
.member_list li span{display:inline-block; margin-right:12px;}
.member_list li span img{width:17px;}
.member_list li p{font-size:16px; color:#000;}
.member_detail span{display:inline-block; margin-right:12px;}
.member_detail span img{width:17px}
.member_detail p{font-size:16px; color:#000; margin-bottom:26px;}
.member_content{background:#43ABAF; height:300px;}
.member_content span{display:block; color:#fff; margin-bottom:20px}
.member_content p{color:#fff; font-weight:700;}
.member_content_img{background:#64b7ba; height:200px;}
/* 정책 */
.policy_text{background:#FBFBFB; top:50px; left:0; z-index:11; font-size:14px; color:#333; padding: 20px; line-height: 20px;}
